<app-bread-crumb [items]="[{ text: 'Livros' }]"></app-bread-crumb>

<app-page-header
  *ngIf="authService.hasRole('ROLE_BOOK')"
  page-title="Livros"
  button-text="Novo"
  button-link="new"
  button-class="botaonovo"
  icon-class="fas fa-plus"
></app-page-header>

<div class="input-group mb-3 procurar-css">
  <div class="input-group-prepend icon-grupo-pesquisar">
    <span class="input-group-text" id="buscar">
      <i class="fa fa-search fa-lg icon-pesquisar"></i
    ></span>
  </div>
  <input
    type="text"
    class="form-control input-pesquisar"
    placeholder="Pesquisar..."
    aria-label="Pesquisar"
    aria-describedby="buscar"
    [(ngModel)]="palavra"
    (keyup)="search()"
  />
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-css">
        <div class="card-header card-header-icon card-header-info">
          <div class="card-icon">
            <i class="material-icons">assignment</i>
          </div>
          <h2 class="card-title">Lista de Livros</h2>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead class="text-primary">
                <tr>
                  <th>Nome</th>
                  <th>Autor</th>
                  <th>Usuário</th>
                  <th>Nota</th>
                  <th class="acoes">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let l of livros">
                  <td>
                    {{ l.nome }}
                  </td>
                  <td>
                    {{ l.autor }}
                  </td>
                  <td>
                    {{ l.usuario?.nome }}
                  </td>
                  <td>
                    <p-rating
                      [cancel]="false"
                      [(ngModel)]="l.nota"
                      disabled="true"
                    ></p-rating>
                  </td>
                  <td class="acoes">
                    <button
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Detalhe"
                      data-toggle="modal"
                      data-target="#livroModal"
                      (click)="carregaLivro(l)"
                      class="btn btn-link btn-primary btn-just-icon search mr-2"
                    >
                      <i class="fas fa-search"></i>
                    </button>
                    <a
                      *ngIf="habilitaEdicao(l.usuario)"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Editar"
                      [routerLink]="[l.id, 'edit']"
                      class="btn btn-link btn-warning btn-just-icon edit mr-2"
                      ><i class="fas fa-edit"></i
                    ></a>
                    <!-- <button
                      *ngIf="authService.hasRole('ROLE_BOOK')"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Remover"
                      (click)="deleteResource(ee)"
                      class="btn btn-link btn-danger btn-just-icon remove"
                    >
                      <i class="fa fa-trash"></i>
                    </button> -->
                  </td>
                </tr>
              </tbody>
            </table>
            <p-paginator
              [rows]="size"
              [totalRecords]="totalElementos"
              (onPageChange)="paginate($event)"
            ></p-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal"
    id="livroModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modalcss" role="document">
      <div class="modal-content">
        <div class="modal-header header-modal">
          <h2 class="modal-title" id="exampleModalLabel">Livro</h2>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span class="header-modal-close" aria-hidden="true">&times;</span>
          </button>
        </div>
        <table style="margin: 5px 5px" class="table table-hover">
          <thead>
            <tr>
              <strong class="text-primary">Usuario:</strong>
              {{
                livroSelecionado.usuario?.nome
              }}
            </tr>
            <tr>
              <strong class="text-primary">Nome:</strong>
              {{
                livroSelecionado.nome
              }}
            </tr>
            <tr>
              <strong class="text-primary">Autor:</strong>
              {{
                livroSelecionado.autor
              }}
            </tr>
            <tr>
              <strong class="text-primary">Ano:</strong>
              {{
                livroSelecionado.ano
              }}
            </tr>
            <tr>
              <strong class="text-primary">Data Início Leitura:</strong>
              {{
                livroSelecionado.dataInicio | date: "dd/MM/yy"
              }}
            </tr>
            <tr>
              <strong class="text-primary">Data Fim Leitura:</strong>
              {{
                livroSelecionado.dataFim | date: "dd/MM/yy"
              }}
            </tr>
            <tr>
              <strong class="text-primary">Página Atual:</strong>
              {{
                livroSelecionado.paginaAtual
              }}
            </tr>
            <tr>
              <strong class="text-primary">Nota:</strong>
              <p-rating
                [cancel]="false"
                [(ngModel)]="livroSelecionado.nota"
                disabled="true"
              ></p-rating>
            </tr>
            <tr>
              <strong class="text-primary">Observações:</strong>
              {{
                livroSelecionado.observacao
              }}
            </tr>
          </thead>
        </table>

        <div class="modal-footer">
          <button type="button" class="btn botoes btn-sm" data-dismiss="modal">
            <i class="fa fa-window-close"> Fechar</i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
